<article class="fos-cnv">
    <ul>
        <li><a href="#">Frog3</a> <span style="width: 96%;">96%</span></li>
        <li><a href="#">FrogOS</a> <span style="width: 12%;">12%</span></li>
    </ul>
<!--     <ul>
        <li><a href="#">New Schools on FrogOS</a> <span style="width: 100%;">60</span></li>
        <li><a href="#">FrogPlay</a> <span style="width: 30%; min-width">30%</span></li>
        <li><a href="#">FrogSnap</a> <span style="width: 10%;">10%</span></li>
        <li><a href="#">FrogDrive</a> <span style="width: 55%;">55%</span></li>
    </ul> -->
</article>