<div class="less">
    <canvas id="icon_current" width="164" height="164" style="width:82px; height: 82px"></canvas>
    <div class="temp">
        <span>53°</span>
    </div>
    <div class="desc">Drizzle · Feels&nbsp;like&nbsp;53°</div>
</div>